<%= simple_form_for :create_annual_report, url: create_annual_report_conclusion_reports_path, html: { method: :post } do |f| %>
  <%= f.input :period_id, collection: Period.list.map { |p| [p.inspect, p.id] }, prompt: false %>


<hr />

<div>
  <%= link_to t('label.back'), action: :index %> |
  <%= f.submit t('label.download'), class: 'btn btn-link' %>
</div>
<% end %>
