<% unless @users.empty? -%>
  <ul>
    <% @users.each do |u| -%>
      <li id="dynamic_result_<%= "#{rand(100000)}_id_#{u.id}" %>">
        <%= highlight(h("#{u.full_name} <#{u.email}>"), @tokens) %>
      </li>
    <% end -%>
  </ul>
<% else -%>
  <ul style="display: none;"><li></li></ul>
  <p class="empty_result"><%= t(:'message.empty_result') %></p>
<% end -%>