<%= render partial: 'shared/filter_form',
  locals: {
    action: :weaknesses_risk_map, extra_params: {
      controller_name: 'follow_up', final: false
    },
    forms: [
      [:weaknesses_risk_map, true],
    ]
  }
%>

  <div>
    <%= link_to t('label.back'), action: :index %> |
    <%= link_to t('label.download_csv'), weaknesses_risk_map_follow_up_audit_path(request.query_parameters.merge(format: :csv)) %>
  </div>
