config/application.yml
log/*
node_modules/
private/
public/assets/*
public/help/*
public/uploads/*
tmp/*
uploads/
*.env
*.log
*.sql
.byebug_history
.dockerignore
.git/
.gitignore
.ruby-gemset
.ruby-version
Dockerfile
Vagrantfile
docker-compose.yml
