config/application.yml
log/*
node_modules/
private/
public/assets/*
public/help/*
public/uploads/*
scripts/secret/*
tmp/*
uploads/
*.csv
*.env
*.log
*.sql
*.txt
*.xz
.bundle/
.byebug_history
.dockerignore
.capistrano
.git/
.gitignore
.ruby-gemset
.ruby-version
.vagrant/
Dockerfile*
Vagrantfile
docker-compose.yml
