/.bundle
log/
private/
public/help
scripts/secret
tmp/
uploads/

# Ignore application configuration
config/application.yml

# Ignore byebugHistory
.byebug_history

# Ignore ./vscode
.vscode/

# Ignore jekyll bundle and symlinked folders
config/jekyll/_vendor/bundle/
config/jekyll/_sass/stylesheets
config/jekyll/assets/fonts
