*.swp
config/app_config.yml
doc/
log/
private/
public/error_files/
uploads/
[#]*
[.#]*
# Descomentar cuando esté estable la ayuda
public/images/help
tmp/
vendor/cache/

# No ignorar
!doc/README_FOR_APP
