*.swp
/.bundle
config/app_config.yml
doc/
log/
private/
public/error_files/
uploads/
/public/help/
[#]*
tmp/
vendor/cache/

# No ignorar
!doc/README_FOR_APP

# Ignore application configuration
/config/application.yml
