<%
  id = f.object.object_id
  annex = f.object
%>
<fieldset class="annexes pb-3">
  <div class="row" data-nested>
    <div class="col-md-11">

      <%= f.input :title, input_html: { readonly: true } %>
      <%= f.input :description, input_html: { rows: 3, readonly: true } %> 

      <h5 class="mb-3">
        <%= Annex.human_attribute_name(:images) %>
      </h5>

      <%= render 'active_storage/many_images', f: f, label: '', show_filename: true, allow_upload: false, allow_purge: false %>
    </div>
  </div>
</fieldset>
