<%= render :partial => 'form',
  :locals => {:submit_button_text => t(:'label.add')} %>

<div id="links">
<%= link_to t(:'label.list'), weaknesses_path %> |
<% if @weakness.control_objective_item -%>
  <%= link_to t(:'weakness.edit_control_objective'),
    edit_control_objective_item_path(@weakness.control_objective_item) %> |
<% end -%>
<%= link_to_back %>
</div>