<div class="header-background-image">
  <div class="row ps-5">
    <div class="col-6 offset-3 ps-5">
      <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'logo_1.png')),
                    height: 90,
                    class: 'mt-1 ms-5' %>
    </div>
    <div class="col-3 text-end">
      <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'iram_icono.jpg')),
                    height: 68,
                    class: 'mt-3' %>
      <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'sigen_icono.jpg')),
                    height: 90,
                    class: 'mt-1 ms-2 me-5' %>
    </div>
  </div>
</div>
