<ul class="menu_list">
  <li><%= link_to t('conclusion_committee_report.high_risk_weaknesses_report_title'),
      :action => :high_risk_weaknesses_report %></li>
  <li><%= link_to t('conclusion_committee_report.fixed_weaknesses_report_title'),
      :action => :fixed_weaknesses_report %></li>
  <li><%= link_to t('conclusion_committee_report.control_objective_stats_title'),
      :action => :control_objective_stats %></li>
  <li><%= link_to t('conclusion_committee_report.process_control_stats_title'),
      :action => :process_control_stats %></li>
</ul>

<div class="clear"></div>