<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2 style="margin-bottom: 1em;"><%= @organization.name %></h2>
  <h3>
    <%= t('notifier.blank_password.body_title',
      :user_name => @user.informal_name, :user => @user.user) %>
  </h3>
  <p>
    <% link_valid_until = (BLANK_PASSWORD_STALE_DAYS - 1).days.from_now.to_date %>
    <% edit_password_link = link_to t('notifier.change_password'),
      edit_users_password_url(@user, :confirmation_hash => @hash,
        :host => (@organization.blank? ? URL_HOST : "#{@organization.prefix}.#{URL_HOST}")) %>
    <%= textilize t('notifier.blank_password.valid_until',
      :link => edit_password_link,
      :date => l(link_valid_until, :format => :long).strip) %>
  </p>
  <%= render :partial => 'footer' %>
</div>
