<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h4><%= t('notifier.client_pending_poll.title', :name => @name) %></h4>
  <p>
    <%= link_to t('notifier.client_pending_poll.answer_poll'),
      edit_poll_url(
        @poll,
        :layout => 'application_clean',
        :token => @poll.access_token,
        :host => "#{@organization.prefix}.#{URL_HOST}",
        :protocol => URL_PROTOCOL) %>
  </p>
  <p><%= t('notifier.client_pending_poll.clarification') %></p>
  <%= render :partial => 'client_footer' %>
</div>