<% organization = @cfr.review.organization %>
<% conclusion_review_url = conclusion_final_review_url(@cfr,
     :host => ("#{organization.prefix}.#{URL_HOST}" if organization),
     :protocol => URL_PROTOCOL) %>

<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <% GlobalModelConfig.current_organization_id = organization.id %>
  <h2 style="margin-bottom: 1em;"><%= organization.name %></h2>
  <h3><%= "#{t('notifier.conclusion_final_review_expiration_warning.body_title')} (#{@cfr.close_date}):" %></h3>

  <%= link_to("#{Review.model_name.human} #{@cfr.review.identification}", conclusion_review_url) %>

  <%= render :partial => 'footer' %>
</div>
