<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t('notifier.pending_poll_email.title', :name => @name) %></h2>
  <p>
    <%= link_to t('notifier.pending_poll_email.answer_poll'),
      edit_poll_url(
        @poll,
        :layout => 'application_clean',
        :token => @poll.access_token,
        :host => "#{@organization.prefix}.#{URL_HOST}",
        :protocol => URL_PROTOCOL) %>
  </p>
  <p><%= t('notifier.pending_poll_email.clarification') %></p>
  <%= render :partial => 'footer' %>
</div>
