<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t('notifier.pending_poll_email.title', :name => @user.informal_name) %></h2>
  <p>
    <%= link_to t('notifier.pending_poll_email.answer_poll'),
      new_initial_users_url(:hash => @hash,
        :host => "#{@organization.prefix}.#{URL_HOST}",
        :protocol => URL_PROTOCOL) %>
  </p>
  <p><%= t('notifier.pending_poll_email.clarification') %></p>
  <%= render :partial => 'footer' %>
</div>