<% id = f.object.object_id %>
<fieldset class="closing_interview_user">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% copy_attribute_errors :user_id, :user, f %>
        <%= f.input :user, label: false, autofocus: f.object.new_record?,
          input_html: {
            value: f.object.try(:user).try(:full_name_with_function, f.object.updated_at),
            id: "closing_interview_user_#{id}",
            title: t('label.search'),
            data: {
              autocomplete_url: reviews_users_path,
              autocomplete_id_target: "#user_id_#{id}"
            }
          } %>
        <%= f.input :user_id, as: :hidden, input_html: { id: "user_id_#{id}" } %>
      </div>
      <div class="col-md-1">
        <div class="toggle-visibility">
          <%= link_to_remove_nested_item f %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
