<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/main.css">
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="row">
        <div class="col-md-3">
          {% include articles.html %}
        </div>
        <div class="col-md-9">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>

  <script charset="utf-8">
    $(document).ready(function () {
      $('h2,h3,h4,h5,h6').filter('[id]').each(function () {
        $(this).html('<a href="#'+$(this).attr('id')+'">'+ $(this).text() + '</a>')
      })
    })
  </script>
</html>
