<% unless plan_item.try(:resource_utilizations).blank? %>
  <p>
    <%= link_to '%.2f' % plan_item.units, '#', :onclick =>
      "$('#estimated_cost_details').slideToggle(); return false;" %>
  </p>
  <div id="estimated_cost_details" style="display: none;">
    <div>
      <ul>
        <% plan_item.resource_utilizations.each do |ru| %>
          <li><%= "#{ru.resource.resource_name}: #{'%.2f' % ru.units}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <p><%= '%.2f' % 0.0 %></p>
<% end %>
