<% unless plan_item.try(:resource_utilizations).blank? %>
  <p>
    <%= link_to '%.2f' % plan_item.units, '#estimated_cost_details', :data => { toggle: 'collapse' } %>
  </p>

  <div id="estimated_cost_details" class="collapse pull-left">
    <div>
      <ul>
        <% plan_item.resource_utilizations.each do |ru| %>
          <li><%= "#{ru.resource.resource_name}: #{'%.2f' % ru.units}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <p><%= '%.2f' % 0.0 %></p>
<% end %>
