<% id = f.object.object_id %>
<fieldset class="material_resource_utilization">
  <div class="row nested">
    <div class="col-md-8">
      <%= plan_resource_field f, id, false %>
    </div>
    <div class="col-md-3">
      <%= f.input :units, as: :string, label: false %>
    </div>
    <div class="col-md-1">
      <div class="toggle-visibility">
        <%= link_to_remove_nested_item(f) %>
        <%= f.input :resource_type, as: :hidden, input_html: { value: 'Resource' } %>
      </div>
    </div>
  </div>
</fieldset>
