<%= render :partial => 'form',
  :locals => {:submit_button_text => t(:'label.modify')} %>

<div id="links">
<%= link_to t(:'label.show'), @period %> |
<%= link_to t(:'label.list'), periods_path %> |
<%= link_to_back %>
</div>