* {
    margin: 0px;
    padding: 0px;
}

a {
    background: transparent;
    color: #2c3234;
}

a:hover {
    background: #2c3234;
    color: #cdcdcd;
    text-decoration: none;
}

a img {
    padding: 0px;
    border: none;
}

a#show_search_link {
    font-weight: normal;
}

a.action_link {
    font-size: 12px;
    font-weight: bold;
    padding: 1px 3px;
    text-decoration: none;
}

a.action_link:hover {
    background: #47ae00;
    color: #ffffff;
}

a.image_link {
    text-decoration: none;
}

a.image_link:hover {
    background: transparent;
    color: inherit;
}

a[data-event="remove_item"],
a[data-event="remove_list_item"],
a[data-event="hide_item"] {
    font-size: 12px;
    font-weight: bold;
    padding: 1px 3px;
    text-decoration: none;
}

a[data-event="remove_item"]:hover,
a[data-event="remove_list_item"]:hover,
a[data-event="hide_item"]:hover {
    background: #aa0000;
    color: #ffffff;
}

abbr {
    cursor: help;
    border-bottom: 1px dotted #2c3234;
}

abbr.info {
    font-size: 16px;
    font-weight: bold;
}

body {
    padding: 1%;
    font-family: verdana, sans-serif, arial, helvetica;
    font-size: 11px;
    background-color: #2c3234;
    color: #cdcdcd;
}

br {
    clear: left;
}

div#actions {
    float: right;
}

div#actions span.button {
    margin: 0em 0em 0em 1em;
    float: right;
}

div#alert {
    background: #aa0000;
    color: #ffffff;
}

div#app_content {
    position: relative;
}

div#approval_text {
    clear: both;
}

div#approval_text div, div#approval_text p {
    display: inline;
}

div#errorExplanation {
    width: 97%;
    border: 2px solid #aa0000;
    padding: 7px;
    padding-bottom: 12px;
    margin: 20px 0px;
    background-color: #f0f0f0;
}

div#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #aa0000;
    color: #ffffff;
}

div#errorExplanation p {
    color: #333333;
    margin-top: 5px;
    padding: 5px;
}

div#errorExplanation ul {
    margin-left: 3em;
    font-size: 12px;
    list-style: square;
}

div#login {
    margin: 10em auto 0em auto;
    border-top: 12px solid #47ae00;
    border-bottom: 12px solid #151215;
    background: #ede8e8;
    color: #333333;
    height: 225px;
    width: 625px;
}

div#login div.submit {
    margin: 1em 0em 0em 24em;
}

div#login label {
    display: block;
    float: left;
    width: 12em;
    font-weight: normal;
    margin: 0em 1em 0em 10em;
    text-align: right;
    background-color: transparent;
}

div#login input[type="text"], div#login input[type="password"] {
    width: 15em;
}

div#login form {
    margin: 6em auto;
}

div#logo {
    float: left;
    margin: .5em;
}

div#links {
    clear: both;
    position: relative;
    padding: .5em;
    margin-top: .5em;
    border-top: 1px dashed #cecece;
}

div#links a {
    padding: 2px 0px;
}

div#links div.pagination {
    float: right;
    margin: .5em .5em .5em 0em;
}

div#links div.pagination a {
    color: #333333;
    padding: 1px 2px;
    text-decoration: none;
    border: 2px solid #cecece;
}

div#links div.pagination a, div#links div.pagination span {
    margin: 0em .1em;
}

div#links div.pagination a:hover {
    color: #ffffff;
    border: 2px solid #47ae00;
}

div#links div.pagination em {
    font-style: normal;
    border: 2px solid #333333;
    background: #333333;
    color: #ffffff;
    padding: 1px 2px;
}

div#links div.pagination span.disabled {
    border: 2px solid #cecece;
    color: #cecece;
    padding: 1px 2px;
}

div#loading {
    position: fixed;
    top: .5em;
    right: 1em;
    background: #2c3234;
    padding: 1px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div#main_container {
    background: #ffffff;
    border-top: 12px solid #151215;
    border-bottom: 12px solid #151215;
    min-width: 930px;
}

div#menu {
    width: 100%;
    color: #727272;
    background-color: #cecac4;
    border-top: 12px solid #47ae00;
    font-size: 12px;
    padding: .7em 0em;
}

div#menu a {
    padding: .5em 1em;
    background: none;
    color: #191619;
    border-right: 2px solid #7b7b7b;
}

div#menu a:hover{
    text-decoration: underline;
}

div#menu div {
    display: inline;
}

div#menu li.selected > a {
    color: #151215;
    font-weight: bold;
}

div#menu ul > li {
    vertical-align: middle;
}

div#menu_level_1 {
    margin-top: 3px;
    color: #7b7b7b;
    background: #e3e0dd;
    padding: .4em 1em;
}

div#menu_level_1 a {
    padding: .1em 1em;
    font-weight: normal;
    color: #5b5b5b;
    background: none;
    margin: 0em .1em;
}

div#menu_level_1 a.selected_menu, div#menu_level_2 a.selected_menu {
    color: #151215;
    font-weight: bold;
}

div#menu_level_1 a:hover {
    text-decoration: underline;
}

div#menu_level_1 li {
    list-style: none;
    font-weight: bold;
    color: #151215;
    border-right: 1px solid #5b5b5b;
}

div#menu_level_1 li.selected > a {
    color: #151215;
    font-weight: bold;
}

div#menu_level_2 {
    margin-top: 3px;
    color: #7b7b7b;
    background: #f2f2f2;
    padding: .2em 1em;
}

div#menu_level_2 a {
    padding: 0em 1em;
    font-weight: normal;
    color: #7b7b7b;
    background: none;
}

div#menu_level_2 a:hover {
    text-decoration: underline;
}

div#menu_level_2 li {
    list-style: none;
    font-weight: bold;
    color: #151215;
    border-right: 1px solid #7b7b7b;
}

div#mobile_menu {
    display: none;
}

div#notice {
    background: #151215;
    color: #ffffff;
}

div#notice, div#alert {
    position: fixed;
    bottom: .5em;
    left: 5%;
    right: 5%;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    padding: .5em 1em;
    border: 4px solid #c2bfb7;
}

div#notice div#close_notice, div#alert div#close_alert {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: .6em;
    font-weight: normal;
    border: 2px solid #c2bfb7;
}

div#notice div#close_notice a, div#alert div#close_alert a {
    background: inherit;
    color: #c2bfb7;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1px 5px;
}

div#no_organization {
    background: #151215;
    color: #ffffff;
    padding: 1em;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 85px 20px 0px 20px;
    border: 2px solid #47ae00;
}

div#organization_logo {
    float: right;
    margin: 1em;
}

div#page {
    display: block;
    clear: both;
    padding: .5em 1em;
    color: #525252;
    background: #ffffff;
}

div#search input[type="text"] {
    width: 97%;
    margin: 0px;
    border-width: 4px;
    font-size: 1.2em;
}

div#search input[type="submit"] {
    margin: 0px;
}

div#search table, .filter table {
    width: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
}

div#session {
    float: right;
    margin-right: 1em;
}

div#session a {
    padding: 0px;
    text-decoration: none;
    border: none;
}

div#session a:hover {
    background: transparent;
    text-decoration: underline;
}

div#showed_data {
    margin: 0em 1em 1em 1em;
}

div#showed_data > p, div#showed_data div.show_item {
    margin-bottom: 1em;
}

div#time_left {
    position: fixed;
    top: .5em;
    right: 1em;
    background: #aa0000;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: .5em 2em;
    border: 4px solid #c2bfb7;
    z-index: 1;
}

div#unexpected_error {
    width: 400px;
    margin: 2em auto 2em auto;
    padding-bottom: 1em;
}

div#unexpected_error div#error_body {
    background: #c2c2c2;
    border: 1px solid #c2c2c2;
    padding-bottom: 1em;
}

div#unexpected_error div#error_header {
    color: #141414;
    background: #959595;
    border: 1px solid #959595;
    border-bottom: 2px solid #ffffff;
}

div#unexpected_error h1 {
    clear: none;
    border: none;
    font-weight: normal;
    margin-bottom: .5em;
    padding: .7em;
}

div#unexpected_error img {
    float: left;
    margin: .2em 1em .2em .2em;
}

div#unexpected_error p, div#unexpected_error pre {
    padding: .5em 1em;
}

div#unexpected_error .column_left {
    width: 30px;
    margin-left: 10px;
}

div#unexpected_error .column_right {
    width: 320px;
}

div#user {
    margin-right: .5em;
}

div.auto_complete_container {
    position: relative;
    z-index: 1;
}

div.auto_complete {
    position: absolute;
    width: 100%;
    background: #ffffff;
    top: 0em !important;
    left: 0em !important;
}

div.auto_complete ul {
    border: 2px dotted #2c3234;
    margin: 0em;
    padding: 0em;
    width: 99%;
    list-style-type: none;
}

div.auto_complete ul li {
    display: block;
    cursor: pointer;
    margin: 0em;
    padding: .3em;
    white-space: normal;
}

div.auto_complete ul li.selected {
    color: #666666;
    background-color: #f2f2f2;
}

div.auto_complete ul strong.highlight {
    font-weight: bold;
    vertical-align: text-top;
}

div.auto_complete span.aditional_info {
    display: block;
    color: #999999;
    font-size: .8em;
}

div.auto_complete span.informal {
    vertical-align: text-top;
}

div.auto_complete p.empty_result {
    background-color: #f2f2f2;
    color: #cc0000;
    border: 2px dotted #2c3234;
    font-weight: bold;
    text-align: center;
    padding: .3em;
}

div.column_headers {
    color: #151215;
    border-bottom: 2px dotted #e3e0dd;
    margin-bottom: .7em;
}

div.div_menu_level_1 {
    display: inline;
}

div.div_menu_level_2 {
    display: inline;
}

div.drag_list {
    width: 43%;
    overflow: auto;
    padding: .5em;
    height: 15em;
    border: 2px solid #bcbcbc;
}

div.drag_list li, div.drop_list li {
    list-style: none;
    margin-left: 1em;
}

div.drop_list {
    width: 43%;
    overflow: auto;
    padding: .5em;
    float: left;
    margin: 0em 1em 0em 0em;
    height: 15em;
    border: 2px solid #bcbcbc;
}

div.drop_list_hover {
    border: 2px solid #2c3234;
}

div.form_column_left {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

div.form_column_right {
    float: right;
    width: 48%;
    margin-bottom: 1em;
}

/* Solamente por un BUG en IE 7 */
div.form_container {
    overflow: auto;
    width: 100%;
}

div.help_content, div.popup {
    font-size: 12px;
}

div.help_content img, div.popup img {
    float: left;
    margin: 0em 1em 1em 0em;
}

div.help_content p {
    margin-top: 1em;
    text-align: justify;
}

div.help_content table, div.popup table {
    width: 98%;
    margin: 1em 0em;
    border: 2px solid #c2bfb7;
    border-collapse: collapse;
}

div.help_content table th, div.popup table th {
    font-size: 1em;
    padding: .5em;
    background-color: #c2bfb7;
    border: 1px solid #c2bfb7;
}

div.help_content table td, div.popup table td {
    padding: .3em .5em;
    border: 1px solid #c2bfb7;
}

div.help_content ul, div.help_content ol, div.popup ul, div.popup ol {
    margin: 1em 0em 0em 2em;
}

div.help_toc {
}

div.help_toc ul {
    margin: .2em 0em .2em 1.5em;
    list-style: none;
}

div.help_toc ul li {
    margin: .5em 0em;
}

div.help_toc a.selected {
    color: #151215;
    font-weight: bold;
    text-decoration: none;
}

div.help_toc .show_hide {
    margin: 0em .5em 0em -1.5em;
    position: relative;
    display: inline;
    z-index: 0;
}

div.help_toc .show_hide img {
    margin-top: -6px;
}

div.help_toc .show_hide * {
    margin: 0px;
    padding: 0px;
}

div.hidden_items {
    margin-left: 2em;
}

div.item {
    width: 100%;
    float: left;
    clear: both;
}

div.item_column {
    float: left;
    width: auto;
    display: inline;
}

div.item_column > h3 {
    font-size: 1em;
    padding: 2px 4px;
}

div.item_column_small {
    margin-right: 1em;
    float: left;
    display: inline;
    width: 9em;
}

div.item_controls {
    padding-top: 2px;
    text-align: left;
}

div.item_field {
    white-space: nowrap;
    float: left;
    display: inline;
    text-align: left;
}

div.item_field input[type="text"],
div.item_field input[type="password"],
div.item_field textarea {
    width: 90%;
}

div.item_field input[type="text"].tiny_component,
div.item_field input[type="password"].tiny_component,
div.item_field textarea.tiny_component {
    width: 80%;
}

div.item_field input[type="text"].date {
    width: 70%;
}

div.items, div.textual_items {
    width: 98%;
}

div.items, div.textual_items {
    clear: both;
}

div.items * {
    vertical-align: middle;
}

div.items div.column_headers {
    border-top: 2px dotted #e3e0dd;
}

div.nested_items > div.item_column > h3 {
    padding-left: 17px;
}

div.search {
    padding-right: 16px;
}

div.search input.search {
    background: transparent url(../images/search.gif) no-repeat scroll 3px;
    padding-left: 16px;
}

div.show_hide_field {
    width: 0%;
    white-space: nowrap;
    float: left;
    display: inline;
    text-align: left;
    padding-right: 1em;
}

div.show_hide_field + div.item_field {
    margin-left: 4px;
}

div.static_content {
    margin: 1em;
    font-size: 1.1em;
    text-align: justify;
}

div.static_content p {
    margin-bottom: 1em;
}

div.stylized_file {
    float: left;
}

div.subitems {
    margin-left: 2em;
}

input {
    font-family: verdana, sans-serif, arial, helvetica;
    font-size: 11px;
}

input[type="radio"] {
    margin-left: 1.5em;
}

input[type="submit"], input[type="button"] {
    clear: both;
    display: block;
    margin-top: 1em;
}

input[type="text"], input[type="password"], textarea {
    border: 2px solid #c2bfb7;
    padding: 2px;
    width: 92%;
    margin: 0em 0em .6em 0em;
}

input[type="text"].error_field, input[type="password"].error_field,
textarea.error_field {
    border: 2px solid #aa0000;
}

input.sort_number,
input.hidden_sort_number,
div.items input.sort_number,
div.items input.hidden_sort_number {
    width: 3em;
    background: #ffffff;
}

form {
    margin: 1em;
}

form input[type="file"].inline_item {
    margin: 0px;
}

form input[type="text"].inline_item, form input[type="text"].inline_tight_item {
    margin: 0px;
    width: 64%;
}

form input[type="radio"].inline_item {
    margin-top: 4px;
}

form input[type="text"].inline_tight_item {
    width: 60%;
}

form input[type="submit"].shadowed_button,
form input[type="button"].shadowed_button {
    cursor: pointer;
    border: 1px solid #c2bfb7;
    background: #f6f6f6 url('../images/button_background.png') repeat-x bottom;
    padding: 0px 4px;
}

form label, .filter label {
    width: 92%;
    background: #c2bfb7;
    color: #151215;
    padding: 4px;
    display: block;
    text-align: left;
    font-weight: bold;
}

form label.inline, .filter label.inline {
    width: 30%;
    margin-right: 1%;
    float: left;
    display: block;
}

form label.inline_long {
    width: 92%;
    margin-right: 1%;
    float: left;
    display: block;
}

form label.error_field, .filter label.error_field {
    background-color: #aa0000;
    color: #ffffff;
}

form label.error_field.plain_label, .filter label.error_field.plain_label {
    background-color: inherit;
    color: #aa0000;
}

form select[multiple="multiple"] {
    width: 95%;
}

form select.inline_item,
form select.inline_tight_item,
.filter select.inline_item {
    margin: 0px;
    width: 64%;
}

form .inline_item, .filter .inline_item {
    margin: 4px 0px;
}

form select.inline_tight_item {
    width: 60%;
}

form.button_to {
    margin: 0px;
}

form.button_to input[type="submit"] {
    margin: 0px;
}

h1, div.title {
    font-size: 1.4em;
    font-weight: bold;
    margin: .5em 0em 1em 0em;
    padding-bottom: 5px;
    border-bottom: 2px dotted #cecece;
}

h1.center_title {
    text-align: center;
    margin: 1em 1em 0em 1em;
    border: none;
    font-size: 1.6em;
}

h1.plain {
    border: none;
    margin: 0em;
}

h1.simple_title {
    text-align: left;
    margin: 1em 1em 0em 1em;
    border: none;
    font-size: 1em;
}

h1.simple_title > strong {
    font-size: 1.6em;
}

h1.with_border_bottom {
    border-bottom: 2px solid #cecece;
}

h2 {
    font-size: 1.1em;
    font-weight: bold;
}

h2.simple_title {
    margin: 1em 1em 0em 1em;
    font-size: 1em;
}

h3 {
    margin: .2em 0em;
    font-weight: bold;
}

label.plain_label {
    padding: 0px;
    display: inline;
    color: inherit;
    font-weight: inherit;
    background: inherit;
}

ol {
    list-style-type: decimal;
    margin: .5em 0em .5em 3em;
}

optgroup > option {
    margin-left: 2em;
}

p {
    clear: both;
}

p.add_item {
    clear: both;
    margin: .5em 0em;
}

p.note {
    font-size: .8em;
    font-style: italic;
}

select[multiple="multiple"] {
    width: 15em;
    overflow: auto;
}

select {
    margin: .3em 0em;
    width: 92%;
    margin: 0em 0em .6em 0em;
    font-family: verdana, sans-serif, arial, helvetica;
    font-size: 11px;
}

select[multiple="multiple"] {
    height: 7em;
}

select.error_field {
    border: 2px solid #aa0000;
}

span.button input[type="submit"], span.button input[type="button"],
div.button input[type="submit"], div.button input[type="button"] {
    cursor: pointer;
    border: 1px solid #c2bfb7;
    background: #f6f6f6 url('../images/button_background.png') repeat-x bottom;
    padding: 2px 8px;
}

span.info_box {
    display: table-cell;
    width: 6px;
    padding: 1px 0px;
    vertical-align: middle;
}

table {
    margin: 1%;
    width: 98%;
    empty-cells: show;
    border-collapse: collapse;
    border: 2px solid #c2bfb7;
}

table#help_table {
    border: none;
}

table#help_table > tbody > tr > td {
    padding: .5em 0em;
    vertical-align: text-top;
}

table.date_filter, table.generic_filter {
    border: none;
    margin: .5em 0em;
    width: 100%;
}

table.date_filter td:nth-child(1), table.date_filter td:nth-child(2),
table.generic_filter td:nth-child(1), table.generic_filter td:nth-child(2) {
    padding-right: 1em;
    width: 50%;
}

table.date_filter input[type="text"].inline_item,
table.generic_filter input[type="text"].inline_item {
    width: 60%;
}

table.item_container {
    margin: 0px;
    clear: both;
    border: none;
}

table.item_container tbody {
    margin-top: 1em;
}

table.item_container td {
    vertical-align: top;
}

table.item_container th {
    background: inherit;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px dotted #cecece;
}

table.summary_table {
    width: 98%;
    margin: 1em 0em;
    border: 2px solid #c2bfb7;
    border-collapse: collapse;
}

table.summary_table th, table.summary_table td.header {
    font-size: 1em;
    padding: .5em;
    background-color: #c2bfb7;
    border: 1px solid #c2bfb7;
    font-weight: bold;
    color: #151215;
}

table.summary_table td {
    padding: .3em .5em;
    border: 1px solid #c2bfb7;
    vertical-align: text-top;
}

table.summary_table td p {
    margin: 0em;
}

table.summary_table tr.odd td {
    background: #ffffff;
    padding: 1.5em;
    text-align: justify;
}

table.summary_table tr.even td {
    background: #e3e0dd;
    padding: 1.5em;
    text-align: justify;
}

textarea {
    font-family: verdana, sans-serif, arial, helvetica;
    font-size: 11px;
    height: 7em;
    resize: none;
}

textarea.double_height {
    height: 14em;
}

th {
    color: #151215;
    background-color: #c2bfb7;
    padding: 4px;
    font-size: 14px;
    text-align: left;
}

th select.filter {
    color: inherit;
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 1em;
    font-weight: bold;
}

th.disabled {
    color: #7b7b7b;
}

th.filterable {
    cursor: default;
}

th.not_available {
    text-decoration: line-through;
    color: #f2f2f2;
}

tr.odd {
    background-color: #f2f2f2;
}

tr.odd:hover, tr.even:hover {
    background: #e3e0dd;
}

tr.odd > td, tr.even > td {
    padding: .2em .5em;
}

tr.readonly_item, tr.disabled_item {
    color: #a5a5a5;
}

tr.writable_item, tr.enabled_item {
    color: inherit;
}

ul.menu_level_0, ul.menu_level_1, ul.menu_level_2 {
    display: inline;
    margin-left: 1em;
}

ul.menu_level_0 > li, ul.menu_level_1 > li, ul.menu_level_2 > li {
    display: inline;
}

ul.menu_level_0 > li > a, ul.menu_level_1 > li > a, ul.menu_level_2 > li > a {
    text-decoration: none;
    color: #0000ff;
}

ul.menu_level_1 > li > a:hover{
    background: #0000ff;
    color: #ffffff;
}

ul.menu_list {
    width: 50em;
    margin: 1em;
    list-style: none;
}

ul.menu_list > li > a {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 1em;
    text-decoration: none;
    padding: 4px 16px;
    color: #151215;
    background-color: #e3e0dd;
}

ul.menu_list > li > a:after {
    content: ' >>'
}

ul.raw_list {
    margin: 1em 0em 1em 3em;
    list-style: square;
}

ul.raw_list li {
    clear: both;
}

ul.raw_list ul {
    margin-left: 3em;
}

.bold {
    font-weight: bold;
}

.calendar_date_select table {
    border: none;
    width: 100%;
    empty-cells: hide;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.column_left {
    display: inline;
    float: left;
}

.column_right {
    display: inline;
    float: right;
}

.center {
    text-align: center;
}

.draggable {
    cursor: move;
}

.enumeration_list {
    margin: .4em 0em 0em 2em;
}

.enumeration_list label {
    display: inline;
    color: inherit;
    font-weight: normal;
    background: transparent;
}

.enumeration_list .show_hide {
    position: relative;
    display: inline;
    z-index: 0;
}

.enumeration_list .show_hide img {
    margin-top: -6px;
}

.enumeration_list .show_hide * {
    margin: 0px;
    padding: 0px;
}

.form_item {
    white-space: nowrap;
    margin-bottom: 1em;
    width: 95%;
}

.full_size {
    width: 100%;
}

.green {
    color: #00aa00;
}

.half_size {
    width: 50%;
}

.highlight_on_hover:hover {
    background: #f2f2f2;
    color: #151215;
    font-weight: bold;
}

.indented_item {
    margin-left: 2em;
}

.menu_disabled {
    color: #7b7b7b;
    background: inherit;
    font-weight: normal;
    text-decoration: line-through;
}

.move {
    cursor: move;
}

.nowrap {
    white-space: nowrap;
}

.pre {
    display: block;
    white-space: pre;
}

.red {
    color: #aa0000;
}

.resume {
    clear: both;
    margin: 1em;
    padding: 1em;
    color: #333333;
    background: #ede8e8;
    border: 1px solid #bcbcbc;
}

.rounded_bottom_left {
    border-bottom-left-radius: 1em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
}

.rounded_bottom_right {
    border-bottom-right-radius: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-bottom-right-radius: 1em;
}

.rounded_top_left {
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
}

.rounded_top_right {
    border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -webkit-border-top-right-radius: 1em;
}

.strike {
    text-decoration: line-through;
}

.stylized_file span.file_container {
    width: 23px;
    height: 26px;
    background: url(../images/open.gif) no-repeat 0 0;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.stylized_file span.file_container input.file {
    position: relative;
    height: 100%;
    width: auto;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
}

.warning {
    color: #aa0000;
    font-size: 1.2em;
}

.yellow {
    color: #daa520;
}

/* Ayuda en línea */

div.popup {
    background: #ede8e8;
    color: #333333;
    max-width: 35em;
    min-width: 10em;
    border: 2px solid #47ae00;
    padding: .5em 2em;
    font-size: 12px;
    font-weight: normal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* The following properties should not be changed */
    position: absolute;
}

div.popup div.action_links {
    margin-top: 1em;
    float: right;
}

div.popup p {
    margin-top: 1em;
}

#popup_overlay {
    /* The following properties should not be changed */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px;
}

span.popup_link, a.popup_link {
    font-size: 12px;
    color: #47ae00;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px dotted;
}

span.popup_closebox, a.popup_closebox {
    cursor: pointer;
    text-decoration: underline;
    color: #333333;
    font-weight: bold;
}

span.popup_closebox:hover, a.popup_closebox:hover {
    background: #2c3234;
    color: #cdcdcd;
    text-decoration: none;
}

.clear {
    clear: both;
}

.popup_draghandle {
    cursor: move;
}