@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    a:hover {
        background: inherit;
        color: inherit;
    }

    body {
        padding: 0px;
    }

    div#login {
        margin: 2em auto;
        height: 15em;
        width: 95%;
    }

    div#login div.submit {
        margin: 1em 0em 0em 9em;
    }

    div#login label {
        width: 8em;
        margin: 0px;
    }

    div#login form {
        width: 300px;
        margin: 1em auto;
    }

    div#logo {
        float: none;
        width: 150px;
        margin: .5em auto;
    }

    div#login input[type="text"], div#login input[type="password"] {
        width: 110px;
    }

    div#main_container {
        min-width: 300px;
    }

    div#menu, div#menu_level_1, div#menu_level_2 {
      display: none;
    }
    
    div#mobile_menu {
        display: block;
        clear: both;
        color: #7b7b7b;
        background: #e3e0dd;
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
        border-top: 12px solid #47ae00;
    }

    div#mobile_menu a {
        display: block;
        clear: both;
        margin: 0em auto;
        width: 90%;
        padding: .5em;
        text-decoration: none;
    }
    
    div#session {
      float: none;
      width: 90%;
      text-align: center;
      font-size: 1.2em;
      border-bottom: 2px dotted #2c3234;
      padding: .5em 1em;
      margin: 0em auto;
    }
    
    div#session * {
      display: inline;
    }

    div.form_column_left, div.form_column_right {
        display: block;
        float: none;
        width: 100%;
    }

    textarea {
        height: 3em;
    }

    textarea.double_height {
        height: 6em;
    }
    
    ul#main_mobile_menu {
      font-size: 1.2em;
    }

    ul#main_mobile_menu,
    ul.menu_level_1,
    ul.menu_level_2 {
        width: 90%;
        margin: 0em auto;
        font-weight: bold;
    }

    ul#main_mobile_menu li,
    ul.menu_level_1 li,
    ul.menu_level_2 li {
        display: block;
        border-bottom: 1px solid #2c3234;
    }

    ul#main_mobile_menu li a,
    ul.menu_level_1 li a,
    ul.menu_level_2 li a {
        display: block;
        clear: both;
        width: 90%;
        padding: 1em;
        color: #2c3234;
        background: transparent;
    }
    
    ul.menu_list {
        width: 90%;
    }

    .expendable {
        display: none;
    }
    
    .mobile_link {
      display: block;
    }
}