[data-controller="calendar"] {
  table.table-weeks {
    margin-bottom: 0;

    td {
      border: 1px solid #ddd;
      padding: 0;
      width: .75em;
    }

  }

  table.table {
    td.indented {
      padding-left: 2em !important;
    }
  }
}
