<% commitment_support ||= f.object %>

<fieldset class="commitment_support" data-commitment-support>
  <div class="card my-3">
    <div class="card-header">
      <h5 class="mb-0">
        <%= CommitmentSupport.model_name.human count: 1 %>
      </h5>
    </div>

    <div class="card-body">
      <%= f.input :reason, input_html: { data: { autofocus: true } } %>
      <%= f.input :plan %>
      <%= f.input :controls %>
    </div>
  </div>
</fieldset>
