<% id = f.object.object_id %>
<fieldset class="organization">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, label: false, input_html: { maxlength: 255 } %>
      </div>
      <div class="col-md-2">
        <%= f.input :prefix, label: false, input_html: { maxlength: 255 } %>
      </div>
      <div class="col-md-4">
        <%= f.input :description, label: false %>
      </div>
      <div class="col-md-2">
        <div class="toggle-visibility">
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
