<div class="alert alert-danger work-paper-alert hidden">
  <div class="alert-message">
    <%= icon 'fas', 'triangle-exclamation', t('work_papers.show.error') %>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe src="" class="work-paper-container embed-responsive-item" allowfullscreen></iframe>
</div>
