<% id = f.object.object_id %>
<fieldset class="child">
  <div class="row">
    <div class="col-md-6">
      <%= f.input 'user_child', label: false, input_html: {
        value: child.full_name_with_function, readonly: true,
        id: "user_child_#{id}"
      } %>
      <%= f.input 'hidden_child', as: :hidden, input_html: {
        name: 'user[child_ids][]', value: child.id, id: "hidden_child_#{id}"
      } %>
    </div>
    <div class="col-md-6">
      <div class="show_hide">
        <%= link_to_remove_child_item f %>
      </div>
    </div>
  </div>
</fieldset>
