<% id = f.object.object_id %>
<fieldset class="child">
  <div class="row">
    <div class="col-md-6">
      <%= f.input :child_id, as: :string, label: false, input_html: {
        id: "auto_user_#{id}",
        autofocus: true,
        value: (f.object.full_name_with_function if f.object.persisted?),
        data: {
          autocomplete_url: users_completions_path,
          autocomplete_id_target: "#child_id_#{id}"
        }
      } %>
      <%= f.input :child_id, as: :hidden, input_html: {
        name: 'user[child_ids][]', value: f.object.id, id: "child_id_#{id}"
      } %>
    </div>
    <div class="col-md-6">
      <div class="toggle-visibility">
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>
</fieldset>
