<% id = f.object.object_id %>
<fieldset class="organization_role">
  <div class="row">
    <div class="col-md-6">
      <%= f.input :organization_id, collection: user_organizations, prompt: true, label: false, input_html: {
        id: "organization_id_#{id}", data: { update_role: "#role_id_#{id}", roles_url: user_roles_path }
      } %>
    </div>
    <div class="col-md-4">
      <%= f.input :role_id, collection: roles_for(f.object), prompt: true, label: false,
        disabled: f.object.organization.nil?, input_html: { id: "role_id_#{id}" } %>
    </div>
    <div class="col-md-2">
      <div class="toggle-visibility">
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>
</fieldset>
