<% id = f.object.object_id %>
<fieldset class="row">
  <div class="col-md-10">
    <% copy_attribute_errors(:manager_id, :auto_user_name, f) %>
    <%= f.input :auto_user_name, label: false,
      placeholder: User.human_attribute_name('manager_id'),
      input_html: {
        id: "auto_user_name_#{id}",
        autofocus: true,
        class: 'autocomplete_field',
        value: f.object.parent.try(:label),
        data: {
          'autocomplete-url' => auto_complete_for_user_users_path,
          'autocomplete-id-target' => "#auto_manager_id_#{id}"
        }
      }
    %>
    <%= f.input :manager_id, as: :hidden,
      input_html: { class: 'autocomplete_id', id: "auto_manager_id_#{id}" }
    %>
  </div>
  <div class="col-md-2">
    <%= link_to_remove_nested_item(f) %>
  </div>
</fieldset>
