<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <!--[if lt IE 9]>
          <img src="<%= image_path 'logo.png'  %>" alt="<%= t 'app_name' %>" height="40">
        <![endif]-->
        <!--[if gt IE 8]><!-->
          <embed src="<%= image_path 'logo.svg' %>" type="image/svg+xml" height="40">
          <!--<![endif]-->
      </div>

      <div class="panel-body text-center">
        <%= t '.body' %>
      </div>
    </div>
  </div>
</div>
