<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#review-scores" data-bs-toggle="tab">
          <%= t 'options.review_scores' %>
        </a>
      </li>
    </ul>

    <div class="tab-content pt-3">
      <div class="tab-pane active" id="review-scores">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <% @current_scores.keys.each do |key| %>
                <th><%= key %></th>
              <% end %>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <% @current_scores.values.each do |value| %>
                <td><%= value %></td>
              <% end %>
              <td><%= link_to_edit [:edit, :options] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
