<div id="alert">
  <p><%= flash.alert %></p>
  <div id="close_alert">
    <%= link_to 'X', '#', :onclick => "$('#alert').stop().slideUp()",
      :title => t('label.close') %>
  </div>
</div>
<%= javascript_tag "$('#alert').delay(7000).slideUp();" %>
