<div id="alert" class="rounded_top_left rounded_top_right rounded_bottom_left rounded_bottom_right">
  <p><%= flash[:alert] %></p>
  <div id="close_alert"><%= link_to_function 'X', "$('alert').fade()",
    :title => t(:'label.close') %></div>
</div>
<%= javascript_tag "Element.fade.delay(7, 'alert');" %>
<% flash[:alert] = nil # Para evitar un problema ocasional de Rails %>