<% links = links || [] %>
<% right = right %>
<div class="dropup d-inline">
  <%= link_to '#', class: 'dropdown-toggle', data: { bs_toggle: 'dropdown' } do %>
    <%= t 'label.downloads' %>
  <% end %>
  <div class="dropdown-menu<%= ' dropdown-menu-right' if right %>">
    <% links.each do |link| %>
      <%= link %>
    <% end %>
  </div>
</div>
