<% links = links || [] %>
<div class="dropup inline">
  <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
    <%= t('label.downloads') %>
    <span class="caret"></span>
  <% end %>
  <ul class="dropdown-menu">
    <% links.each do |link| %>
      <li><%= link %></li>
    <% end %>
  </ul>
</div>
