<div id="time_left" style="display: none;">
  <span class="message"></span>
</div>
<script type="text/javascript">
  State.showMessages[0] = {
    time: <%= time_left - 2 %> * 60,
    message: '<%= t('message.session_expires_in_less_than_two_minutes') %>',
    expired: false
  };

  State.showMessages[1] = {
    time: <%= time_left %> * 60,
    message: '<%= t('message.session_time_expired') %>',
    expired: true
  };
</script>