<% id = f.object.object_id %>
<fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: false, placeholder: BusinessUnit.human_attribute_name('name'),
        input_html: { id: "#{id}", autofocus: true } %>
    </div>

    <% if show_business_unit_kind? %>
      <div class="col-md-3">
        <%= f.association :business_unit_kind, label: false %>
      </div>
    <% end %>
    <% if f.object.persisted? %>
      <div class="col-md-1">
        <div class="mt-2 text-right">
          <%= link_to_edit edit_business_unit_type_business_unit_path(
                             business_unit_type_id: f.object.business_unit_type_id, 
                             id: f.object.id) %>
        </div>
      </div>
    <% end %>
    <div class="col-md-1">
      <div class="mt-2 text-right">
        <%= link_to_remove_nested_item(f) %>
      </div>
    </div>
  </div>
</fieldset>
