<% id = f.object.object_id %>
<fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: false, placeholder: BusinessUnit.human_attribute_name('name'),
        input_html: { id: "#{id}", autofocus: true } %>
    </div>
    <div class="col-md-5">
      <%= f.simple_fields_for :taggings, business_unit_tagging(f.object) do |t| %>
        <%= render 'tagging', f: t, kind: 'business_unit' %>
      <% end %>
    </div>
    <div class="col-md-1">
      <div class="mt-2 text-right">
        <%= link_to_remove_nested_item(f) %>
      </div>
    </div>
  </div>
</fieldset>
