<hr />

<footer>
  <div class="row">
    <div class="col-11">
      <p class="mb-1 text-muted">
        For any inquiries, please contact our support team: <%= mail_to SUPPORT_EMAIL %>
      </p>
    </div>
    <div class="col-1">
      <p class="mb-1 text-end">
        <%= icon 'fas', 'info-circle', title: APP_REVISION[0,8] %>
      </p>
    </div>
  </div>
</footer>
