<hr />

<footer>
  <p>Cualquier inquietud comunicarse al área de soporte</p>

  <dl class="dl-horizontal">
    <dt>Correo<dt>
    <dd><%= mail_to SUPPORT_EMAIL %></dd>
    <dt>Teléfono</dt>
    <dd><%= SUPPORT_PHONE %></dd>
  </dl>
</footer>
