<%= render 'header' %>

<h3>Administración</h3>

<p>
  Gestión de organizaciones, usuarios, privilegios y <strong>buenas prácticas</strong>
</p>

<h3>Planificación</h3>

<p>Definición de periodos, recursos, planes y costos</p>

<h3>Ejecución</h3>

<p><strong>Soporte</strong> a la documentación de hallazgos</p>

<h3>Conclusión</h3>

<p>Valoración de los procesos</p>

<h3>Seguimiento</h3>

<p>Asistencia en la <strong>implementación</strong> de soluciones y mejoras</p>

<h3>Ayuda</h3>

<p>
  Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
  lugar para despejarla
</p>

<%= render 'footer' %>
