<div class="text-center">
  <%= image_tag 'logo.gif', :size => '250x49', :alt => 'Mawida BP' %>
</div>

<h2>SEGUIMIENTO</h2>

<h3>Hallazgos pendientes</h3>

<p>
  Aquí podrá consultar sus hallazgos pendientes de solución. Para
  contestar algún hallazgo, deberá seleccionar <strong>Editar</strong> (Lápiz).
</p>
<p>
  Dentro del detalle del hallazgo podrá contestar y comunicarse con
  todas las personas relacionadas al mismo. El objetivo es colaborar
  para encontrar una solución.
</p>

<h3>Hallazgos solucionados</h3>

<p>
  Podrá consultar sus hallazgos solucionados o reiterados.
</p>

<h2>AYUDA</h2>

<p>
  Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
  lugar para despejarla.
</p>

<hr />

<p>
  Cualquier inquietud comunicarse al área de soporte:
</p>

<ul class="form-footer">
  <li>
    <strong>Correo (preferentemente)</strong>:
    <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>
  </li>
  <li><strong>Teléfono</strong>: <%= SUPPORT_PHONE %></li>
</ul>
