<div class="static_content">
  <div style="text-align: center; margin-bottom: 2em;">
    <%= image_tag 'logo.gif', :size => '250x49', :alt => 'Mawida BP' %>
  </div>
  
  <h2>ADMINISTRACIÓN</h2>
  
  <p>
    Gestión de organizaciones, usuarios, privilegios y <b>buenas prácticas</b>.
  </p>
  
  <h2>PLANIFICACIÓN</h2>
  
  <p>Definición de periodos, recursos, planes y costos.</p>
  
  <h2>EJECUCIÓN</h2>
  
  <p>
    <b>Soporte</b> a la documentación de observaciones y oportunidades de
    <b>mejora</b>.
  </p>
  
  <h2>CONCLUSIÓN</h2>
  
  <p>Valoración de los procesos.</p>
  
  <h2>SEGUIMIENTO</h2>
  
  <p>Asistencia en la <b>implementación</b> de soluciones y mejoras.</p>

  <h2>AYUDA</h2>
  
  <p>
    Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
    lugar para despejarla.
  </p>

  <div style="margin-top: 2em; padding-top: 1em; border-top: 1px dotted #525252;">
    <p>
      Cualquier inquietud comunicarse al área de soporte:
    </p>
    <ul class="raw_list">
      <li>
        <b>Correo (preferentemente)</b>:
        <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>
      </li>
      <li><b>Teléfono</b>: <%= SUPPORT_PHONE %></li>
    </ul>
  </div>
</div>
