<%= render 'header' %>

<h3>SEGUIMIENTO</h3>

<h4>Hallazgos pendientes</h4>

<p>
  Aquí podrá consultar sus hallazgos pendientes de solución. Para
  contestar algún hallazgo, deberá seleccionar <strong>Editar</strong> (Lápiz)
</p>
<p>
  Dentro del detalle del hallazgo podrá contestar y comunicarse con
  todas las personas relacionadas al mismo. El objetivo es colaborar
  para encontrar una solución
</p>

<h4>Hallazgos solucionados</h4>

<p>
  Podrá consultar sus hallazgos solucionados o reiterados
</p>

<h3>AYUDA</h3>

<p>
  Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
  lugar para despejarla
</p>

<%= render 'footer' %>
