<%= render 'header' %>

<h3>Seguimiento</h3>

<h4 class="text-muted"><strong>Hallazgos pendientes</strong></h4>

<p class="nested">
  Aquí podrá consultar sus hallazgos pendientes de solución. Para
  contestar algún hallazgo, deberá seleccionar <strong>Editar</strong> (Lápiz)
</p>

<p class="nested">
  Dentro del detalle del hallazgo podrá contestar y comunicarse con
  todas las personas relacionadas al mismo. El objetivo es colaborar
  para encontrar una solución
</p>

<h4 class="text-muted"><strong>Hallazgos solucionados</strong></h4>

<p class="nested">
  Podrá consultar sus hallazgos solucionados o reiterados
</p>

<h3>Ayuda</h3>

<p>
  Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
  lugar para despejarla
</p>

<%= render 'footer' %>
