<div class="static_content">
  <div style="text-align: center; margin-bottom: 2em;">
    <%= image_tag 'logo.png', :size => '250x64', :alt => 'Mawida Buenas Prácticas' %>
  </div>
  <p>
    Usted como usuario tendrá acceso a las siguientes opciones:
  </p>
  <p style="text-decoration: underline;">Módulo de Seguimiento:</p>
  <ol class="raw_list">
    <li>
      <p><b>Observaciones y oportunidades pendientes</b></p>
      <p>
        En esta ventana le aparecerán las observaciones donde está como
        responsable y cuyo estado actual es alguno de los siguientes:
      </p>
      <ul class="raw_list" style="font-weight: bold;">
        <li>Notificar</li>
        <li>No Confirmada</li>
        <li>Confirmada</li>
        <li>Sin Respuesta</li>
        <li>En proceso de implementación</li>
        <li>Implementada</li>
      </ul>
      <p>
        Para contestar alguna observación, deberá seleccionar el ícono “Editar”
        (Lápiz) correpondiente a la misma.
      </p>
      <p>
        Una vez en la pantalla del detalle de la observación, el usuario deberá
        seleccionar la opción “Agregar Comentario”, del apartado de
        <b>Comentarios</b>. La misma deberá contener los datos necesarios para
        que el auditor pueda evaluar la observación y cambiarla de estado si
        correspondiese.
      </p>
      <p>
        Una vez consensuada la contestación, el auditor copiará la respuesta en
        el campo “Respuesta” de la observación, y modificará el estado de la
        misma según corresponda a alguno de los siguientes estados:
        <b>En proceso de Implementación</b>, <b>Implementada</b>,
        <b>Implementada/auditada</b>, o <b>Cerrada</b>.
      </p>
    </li>
    <li>
      <p><b>Observaciones y oportunidades solucionadas</b></p>
      <p>
        El auditado podrá ver el historial de las observaciones asignadas a él y
        que ya han sido solucionadas (estados <b>“Implementada-Auditada”</b> y
        <b>“Cerrada”</b>)
      </p>
    </li>
    <li>
      <p><b>Notificaciones</b></p>
      <p>
        En esta opción, cada usuario recibirá las notificaciones de las nuevas
        observaciones asignadas; en este apartado deberá confirmar el
        conocimiento de cada una de ellas para que auditor y auditado puedan
        efectuar su correspondiente seguimiento.
      </p>
      <p>
        La confirmación de la recepción de una notificación por parte de un
        auditado se puede hacer de tres formas:
      </p>
      <ol class="raw_list">
        <li>
          Por selección del link incluido en el correo de la notificación.
          En este caso, no es necesario ingresar al sistema. Al seleccionar el
          link, automáticamente el usuario confirma las observaciones.
        </li>
        <li>
          Desde el sistema. El usuario puede confirmar la notificación
          seleccionando el link “Confirmar” correspondiente, desde la pantalla
          SEGUIMIENTO → Notificaciones.
        </li>
        <li>
          Si la observación no fue confirmada de ninguno de los dos métodos
          anteriores, pero el auditado escribe en el foro de respuesta, se
          considera esa observación como confirmada.
        </li>
      </ol>
    </li>
  </ol>

  <p style="text-decoration: underline;">Módulo de ayuda</p>
  <p>
    En este módulo podrá consultar sus inquietudes respecto a las opciones a las
    cuales usted tiene acceso.
  </p>

  <div style="margin-top: 2em; padding-top: 1em; border-top: 1px dotted #525252;">
    <p>
      Cualquier inquietud comunicarse al área de soporte:
    </p>
    <ul class="raw_list">
      <li><b>Correo</b>: <a href="mailto:soporte@mawidaweb.com.ar">soporte@mawidaweb.com.ar</a></li>
      <li><b>Teléfono</b>: (0261) 449-8885</li>
    </ul>
  </div>
</div>