<div class="text-center">
  <%= image_tag 'logo.gif', :size => '250x49', :alt => 'Mawida BP' %>
</div>

<h2>ADMINISTRACIÓN</h2>

<p>
  Gestión de organizaciones, usuarios, privilegios y <strong>buenas prácticas</strong>.
</p>

<h2>PLANIFICACIÓN</h2>

<p>Definición de periodos, recursos, planes y costos.</p>

<h2>EJECUCIÓN</h2>

<p><strong>Soporte</strong> a la documentación de hallazgos.</p>

<h2>CONCLUSIÓN</h2>

<p>Valoración de los procesos.</p>

<h2>SEGUIMIENTO</h2>

<p>Asistencia en la <strong>implementación</strong> de soluciones y mejoras.</p>

<h2>AYUDA</h2>

<p>
  Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
  lugar para despejarla.
</p>

<hr />

<p>
  Cualquier inquietud comunicarse al área de soporte:
</p>

<ul class="form-footer">
  <li>
    <strong>Correo (preferentemente)</strong>:
    <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>
  </li>
  <li><strong>Teléfono</strong>: <%= SUPPORT_PHONE %></li>
</ul>
