<%= render 'header' %>

<h3>ADMINISTRACIÓN</h3>

<p>
  Gestión de organizaciones, usuarios, privilegios y <strong>buenas prácticas</strong>
</p>

<h3>PLANIFICACIÓN</h3>

<p>Definición de periodos, recursos, planes y costos</p>

<h3>EJECUCIÓN</h3>

<p><strong>Soporte</strong> a la documentación de hallazgos</p>

<h3>CONCLUSIÓN</h3>

<p>Valoración de los procesos</p>

<h3>SEGUIMIENTO</h3>

<p>Asistencia en la <strong>implementación</strong> de soluciones y mejoras</p>

<h3>AYUDA</h3>

<p>
  Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
  lugar para despejarla
</p>

<hr />

<p>
  Cualquier inquietud comunicarse al área de soporte:
</p>

<ul class="form-footer">
  <li>
    <strong>Correo (preferentemente)</strong>:
    <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>
  </li>
  <li><strong>Teléfono</strong>: <%= SUPPORT_PHONE %></li>
</ul>
