<div class="row">
  <div class="col-md-6">
    <%= link_to t('execution_reports.detailed_management_report_title'),
      { action: :detailed_management_report },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <%= link_to t('execution_reports.weaknesses_by_state_title'),
      { action: :weaknesses_by_state_execution },
    class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
