<% id = f.object.object_id %>
<fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: false, placeholder: Activity.human_attribute_name('name'),
        input_html: { autofocus: true } %>
    </div>
    <div class="col-md-1">
      <div class="mt-2 text-right">
        <%= link_to_remove_nested_item(f) if f.object.can_be_destroyed? %>
      </div>
    </div>
  </div>
</fieldset>
