<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">
      <%= Finding.model_name.human count: 0 %>
    </h5>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('follow_up_audited.weaknesses_by_user_title'),
            { action: :weaknesses_by_user, controller_name: 'follow_up', final: false },
            class: 'list-group-item list-group-item-action'
          %>
          <%= link_to t('follow_up_audited.status_user'),
            users_status_path(@auth_user, graph: true),
            class: 'list-group-item list-group-item-action'
          %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('follow_up_audited.process_control_stats_title'),
            { action: :process_control_stats, controller_name: 'follow_up_audited', final: false },
            class: 'list-group-item list-group-item-action'
          %>
        </div>
      </div>
    </div>
  </div>
</div>
