<ul class="menu_list">
  <li><%= link_to t(:'follow_up_committee.synthesis_report_title'),
      :action => :synthesis_report %></li>
  <li><%= link_to t(:'follow_up_committee.high_risk_weaknesses_report_title'),
      :action => :high_risk_weaknesses_report %></li>
  <li><%= link_to t(:'follow_up_committee.fixed_weaknesses_report_title'),
      :action => :fixed_weaknesses_report %></li>
  <li><%= link_to t(:'follow_up_committee.cost_analysis_title'),
      :action => :cost_analysis %></li>
</ul>

<div class="clear"></div>
