<% id = f.object.object_id %>
<fieldset class="best_practice">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-11">
        <%= f.input :id, as: :string, label: false,
          input_html: {
            id: "best_practice_#{id}",
            name: 'best_practice[best_practice_data]',
            title: t('label.search'),
            autofocus: true,
            data: {
              disabled_on_apply: true,
              enable_add_risk_assessment_items: true,
              autocomplete_url: auto_complete_for_best_practice_risk_assessments_path,
              autocomplete_id_target: "#hidden_best_practice_#{id}"
            }
          } %>
          <%= f.input "hidden_best_practice_#{id}", as: :hidden, input_html: {
            value: f.object.id,
            id: "hidden_best_practice_#{id}",
            data: { apply_id: true }
          } %>
      </div>
      <div class="col-md-1">
        <div class="toggle-visibility">
          <%= link_to_remove_nested_item f %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
