<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-header">
      <%= Document.model_name.human count: 0 %>
      <%= link_to t('label.back'), documents_path, class: 'text-muted small pull-right', data: { remote: true } %>
    </h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% @documents.each do |document| %>
        <li>
          <%= link_to document, download_document_path(document) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
