<div class="row">
  <div class="col-md-4 d-grid">
    <%= link_to t('polls.questionnaires.index.title'),
      polls_questionnaires_path,
      class: 'btn btn-outline-secondary btn-lg' %>
  </div>
  <div class="col-md-4 d-grid">
    <%= link_to t('polls.business_units.index.title'),
      polls_business_units_path,
      class: 'btn btn-outline-secondary btn-lg' %>
  </div>
  <div class="col-md-4 d-grid">
    <%= link_to t('polls.answers.index.title'),
      polls_answers_path,
      class: 'btn btn-outline-secondary btn-lg' %>
  </div>
  <div class="col-md-4 mt-2 d-grid">
    <%= link_to t('polls.reviews.index.title'),
      polls_reviews_path,
      class: 'btn btn-outline-secondary btn-lg' %>
  </div>
</div>
