<ul class="menu_list">
  <li><%= link_to t('poll.summary_by_questionnaire'),
      :action => :summary_by_questionnaire %></li>
  <li><%= link_to t('poll.summary_by_business_unit'),
      :action => :summary_by_business_unit %></li>
  <li><%= link_to t('poll.summary_by_answers'),
      :action => :summary_by_answers %></li>
</ul>

<div class="clear"></div>
