<div class="row">
  <div class="col-md-4">
    <%= link_to t('poll.summary_by_questionnaire'),
      { action: :summary_by_questionnaire },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('poll.summary_by_business_unit'),
      { action: :summary_by_business_unit },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('poll.summary_by_answers'),
      { action: :summary_by_answers },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
