<div class="row">
  <div class="col-md-4">
    <%= link_to t('polls.questionnaires.index.title'),
      polls_questionnaires_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('polls.business_units.index.title'),
      polls_business_units_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('polls.answers.index.title'),
      polls_answers_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
