<div class="row">
  <div class="col-md-4">
    <%= link_to t('poll.summary_by_questionnaire'),
      polls_questionnaires_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('poll.summary_by_business_unit'),
      polls_business_units_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('poll.summary_by_answers'),
      polls_answers_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
