<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t('report_mailer.zipped_csv.greetings', name: @user.informal_name) %>,</h2>

  <p><%= t('report_mailer.zipped_csv.body') %></p>

  <%= render partial: 'common_mailer/footer' %>
</div>
