<div class="container">
  <div class="row">
    <div class="col-2">
      <% if Current.organization.image_model.present? %>
        <%= image_tag image_to_base_64(Current.organization.image_model.image.thumb.path), 
                      width: 80, 
                      height: 60 %>
      <% end %>
    </div>
    <div class="col-7">
    </div>
    <div class="col-3 mt-4">
      <%= t :'follow_up_committee.print_date', date: I18n.l(Time.zone.today, format: :long) %>
    </div>
  </div>
</div>
