<% id = f.object.object_id %>

<fieldset class="process_control">
  <div class="form-inputs row">
    <div class="col-md-10">
        <%= f.input :name, label: false, input_html: { maxlength: 255, autofocus: f.object.new_record? } %>
    </div>
    <div class="col-md-1 mt-2 text-end">
      <%= link_to_remove_nested_item(f) unless f.object.taggings.any? %>
      <%= f.input :id, as: :hidden %>
    </div>
  </div>
</fieldset>
