<div id="best_practice_filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-1 form-group row">
        <% best_practice_filter = params[action] ? params[action][:best_practice] : nil %>
        <%= f.label :best_practice, BestPractice.model_name.human, class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :best_practice, value: best_practice_filter, maxlength: 3072, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
