<% group ||= nil %>

<div id="business_unit_type_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <% unless group %>
    <div class="row">
  <% end %>
    <div class="col-md-6">
       <div class="form-group">
          <% selected = params[action] ? params[action][:business_unit_type] : nil %>
          <%= f.label :business_unit_type, BusinessUnitType.model_name.human, class: 'col-md-4', for: nil %>
          <div class="col-md-8">
            <%= f.input :business_unit_type, collection: BusinessUnitType.list.map { |but| [but.name, but.id.to_s] },
              as: :check_boxes, checked: selected, label: false, class: 'form-control' %>
          </div>
       </div>
    </div>
  <% unless group %>
    </div>
  <% end %>
</div>
