<% group ||= nil %>

<% unless group %>
  <div id="compliance_filter" class="row" <%== 'style="display: none;"' unless display %>>
<% end %>
  <div class="col-md-6" <%== 'style="display: none;"' unless display %>>
    <div class="mb-1 form-group row">
      <% selected = params[action] ? params[action][:compliance] : nil %>
      <%= f.label :compliance, Weakness.human_attribute_name('compliance'), class: 'col-md-4 col-form-label' %>
      <div class="col-md-8">
        <%= f.select :compliance, weakness_compliance_options, { selected: selected, include_blank: t('helpers.select.prompt') }, class: 'form-select' %>
      </div>
    </div>
  </div>
<% unless group %>
  </div>
<% end %>
