<div id="control_objective_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div>
    <table class="generic_filter">
      <tbody>
        <tr>
          <td>
            <p class="form_item" style="margin: 0em;">
              <% control_objective_filter = params[action] ?
                params[action][:control_objective] : nil %>
              <%= f.label :control_objective, ControlObjective.model_name.human,
                :class => :inline %>
              <%= f.text_field :control_objective, :value => control_objective_filter,
                :maxlength => 3072, :size => nil, :class => :inline_item %>
            </p>
          </td>
          <td>&nbsp;<br /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>