<%
    display ||= nil
    group   ||= nil
%>

<% unless group %>
  <div id="finding_title_filter" class="filter" <%== 'style="display: none;"' unless display %>>
    <div class="row">
<% end %>
    <div class="col-md-6">
      <div class="form-group">
        <% finding_title = params[action] ? params[action][:finding_title] : nil %>
        <%= f.label :finding_title, Finding.human_attribute_name('title'), class: 'col-md-4' %>
        <div class="col-md-8">
          <%= f.text_field :finding_title, value: finding_title, maxlength: 255, class: 'form-control' %>
        </div>
      </div>
    </div>
<% unless group %>
    </div>
  </div>
<% end %>
