<%
    group ||= nil
    status_options = if action == :fixed_weaknesses_report
                    finding_fixed_status_options
                  elsif params[:execution].present?
                    finding_execution_status_options
                  else
                    finding_status_options
                  end
%>

<div id="finding_status_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <% unless group %>
    <div class="row">
  <% end %>
    <div class="col-md-6">
      <div class="form-group">
         <% selected = params[action] ? params[action][:finding_status] : nil %>
         <%= f.label :finding_status, Finding.human_attribute_name('state'), class: 'col-md-4', for: nil %>
         <div class="col-md-8">
           <%= f.input :finding_status, collection: status_options, as: :check_boxes, checked: selected, label: false, class: 'form-control' %>
         </div>
      </div>
    </div>
  <% unless group %>
    </div>
  <% end %>
</div>
