<div id="priority_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% selected = params[action] ? params[action][:priority] : nil %>
        <%= f.label :priority, Weakness.human_attribute_name('priority'), class: 'col-md-4' %>
        <div class="col-md-8">
          <%= f.select :priority, priorities, { selected: selected, include_blank: t('helpers.select.prompt') }, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
