<div id="questionnaire_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% selected = params[action] ? params[action][:questionnaire] : nil %>
        <%= f.label :questionnaire, Questionnaire.model_name.human,
          class: 'col-md-3' %>
        <div class="col-md-9">
          <%= f.select :questionnaire, @report.questionnaires,
            { selected: selected, prompt: true }, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
