<% group ||= nil %>

<div id="risk_levels_multiple_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <% unless group %>
    <div class="row">
  <% end %>
    <div class="col-md-6">
      <div class="form-group">
        <% selected = params[action] ? params[action][:risk] : nil %>
        <%= f.label :risk, Weakness.human_attribute_name(:risk), class: 'col-md-4', for: nil %>
        <div class="col-md-8">
          <%= f.input :risk, collection: risks, as: :check_boxes, checked: selected, label: false, class: 'form-control' %>
        </div>
      </div>
    </div>
  <% unless group %>
    </div>
  <% end %>
</div>
