<div id="scope_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% selected = params[action] ? params[action][:scope] : nil %>
        <%= f.label :scope, Review.human_attribute_name('scope'), class: 'col-md-3' %>
        <div class="col-md-9">
          <%= f.select :scope, review_scope_options, { selected: selected, include_blank: t('helpers.select.prompt') }, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
