<div id="tags_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% tags_filter = params[action] ? params[action][:tags] : nil %>
        <%= f.label :tags, Tag.model_name.human, class: 'col-md-3' %>
        <div class="col-md-9">
          <%= f.text_field :tags, value: tags_filter, maxlength: 3072, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
