<fieldset class="risk_assessment_weight">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-2">
        <%= f.input :identifier, label: false,
          input_html: { autofocus: f.object.new_record? } %>
      </div>
      <div class="col-md-4">
        <%= f.input :name, label: false %>
      </div>
      <div class="col-md-5">
        <%= f.input :description, label: false, as: :string %>
      </div>
      <div class="col-md-1">
        <div class="mt-2 text-right">
          <%= link_to_remove_nested_item f %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
