.left-div {
  //background-color: #5bc4e4;
  //min-height: 1001px
  //font-family: "Muli";
}

.right-div {
  //font-family: "Liberation Sans"
}

.aqua-text {
  color:#5bc4e4;
}

.orange-text {
  color:#c25d2e;
}

.green-text {
  color:#04b38c;
}

.body-background-image {
  background-image: asset-data-url("bic_pdf/background-image.png");
  background-size: 2000px 1001px;
}

.watermark-bic {
  background-image: asset-data-url("bic_pdf/watermark.png");
  background-size: 300px 300px;
}
