.text-aqua {
  color: #5bc4e4;
}

.text-green {
  color: #04b38c;
}

.bg-black {
  background-color: #000;
}

.vertical-align-center {
  display: -webkit-box;
  -webkit-box-align: center;
}

.header-background-image {
  background-image: asset-data-url("bic_pdf/header-background-image.png");
  background-size: 1600px;
}

.body-background-image {
  background-image: asset-data-url("bic_pdf/body-background-image.png");
  background-size: 1600px;
}

.footer-background-image {
  background-image: asset-data-url("bic_pdf/footer-background-image.png");
  background-size: 1600px;
}

.watermark-bic {
  background-image: asset-data-url("bic_pdf/watermark.png");
  background-size: 300px 300px;
}

.text-quote {
  border-left: 1px solid #dee2e6 !important;
}
