<div class="row">
  <div class="col-md-4">
    <%= link_to t('login_record.show_list'), { action: :index },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('error_record.show_list'), { controller: :error_records, action: :index },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-4">
    <%= link_to t('version.show_security_changes_report'),
      { controller: :versions, action: :security_changes_report },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
