<div class="row">
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('login_record.show_list'), action: :index %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('error_record.show_list'), controller: :error_records, action: :index %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('version.show_security_changes_report'),
        controller: :versions, action: :security_changes_report %>
    </div>
  </div>
</div>
