<div class="row">
  <div class="col-md-4">
    <ul class="nav nav-menu">
      <li><%= link_to t('login_record.show_list'), :action => :index %></li>
      <li><%= link_to t('error_record.show_list'), :controller => :error_records,
        :action => :index %></li>
      <li><%= link_to t('version.show_security_changes_report'),
        :controller => :versions, :action => :security_changes_report %></li>
    </ul>
  </div>
</div>
