<div>
  <p>
    De encontrarse “Regularizada” la debilidad, adjuntar la evidencia para su análisis por Auditoria, a la brevedad se informaran las conclusiones.
  </p>

  <p>
    En caso de solicitar “Reprogramación” indicar:
  </p>

  <ul>
    <li>Plan de acción: que acciones se van a llevar a cabo para resolver la observación.</li>
    <li>Grado de avance: el avance en la resolución de la debilidad expresado como porcentaje (debe ser congruente con las respuestas anteriores).</li>
    <li>Motivos de reprogramación: las justificaciones que impidieron el cumplimiento del plazo original.</li>
    <li>Nueva fecha estimada de regularización.</li>
  </ul>

  <p>
    En ambos casos integrar el formulario correspondiente.
  </p>
</div>
