<% organization = @conclusion_review.review.try(:organization) if @conclusion_review %>
<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= organization.name %></h2>

  <%= markdown @body_title %>
  <%= markdown h(@note) unless @note.blank? %>

  <%= render :partial => 'common_mailer/footer' %>
</div>
