<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2 style="margin-bottom: 1em;"><%= @organization.name %></h2>
  <h3><%= t 'notifier.new_admin_user.body_title' %></h3>

  <%= t 'notifier.new_admin_user.body', name: @user.informal_name, user: @user.user %>

  <%= render partial: 'common_mailer/footer' %>
</div>
