<div style="font-family: arial, helvetica; font-size: 11px;">
  <h3><%= t 'notifier.new_admin_user.body_title' %></h3>

  <%= t 'notifier.new_admin_user.body', name: @user.informal_name, user: @user.user %>

  <%= render partial: 'common_mailer/footer' %>
</div>
