<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h3 style="font-weight: normal;">
    <%= markdown_without_paragraph(
      t('notifier.notify_not_added_answer.warning')
    ) %>
  </h3>

  <p>
    <b><%= FindingAnswer.human_attribute_name(:answer) %></b>:
    <span style="font-style: italic;"><%= @answer %></span>
  </p>

  <%= render :partial => 'common_mailer/reply_footer' %>
</div>
