.ui-autocomplete {
  .ui-state-active {
    white-space: normal !important;
    box-shadow: none !important;
    font-weight: normal !important;
  }

  .ui-state-focus {
    span {
      white-space: normal;
    }
  }

  span.text-muted {
    display: block;
    font-size: .75em;
    color: #999;
  }
}
