.ct-chart {
  .ct-label {
    fill: #333;
  }
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
  fill: #fad7a0
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
  fill: #2874a6
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
  fill: #5dade2
}
.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
  fill: #28b463
}
.ct-series-e .ct-area, .ct-series-e .ct-slice-pie {
  fill: #82e0aa
}
