body {
  padding-top: 70px;
}

.form-footer {
  padding-bottom: 20px;
}

.loading-caption {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 10em;
  margin: 0em 0em 0em -5em;
  padding: .25em 1em;
  text-align: center;
  line-height: 40px;
  z-index: 1100;
}

.nested_item {
  margin-left: 23px;
}

.nowrap {
  white-space: nowrap;
}

.pagination, .pager {
  margin: 0;
}

.show_hide {
  float: left;
  margin: 5px;
}

.strike {
  text-decoration: line-through;
}

.submenu {
  margin-bottom: 15px;
}

table th.disabled {
  color: #7b7b7b;
}

table th.filterable {
  cursor: default;
}

table th.not_available {
  text-decoration: line-through;
  color: #888;
}
