<% unless plan_item.try(:resource_utilizations).blank? %>
  <%= link_to "#{t('review.estimated_amount')}: #{'%.2f' % plan_item.units}", '#estimated_cost_details',
    :data => { toggle: 'collapse' } %>

  <div id="estimated_cost_details" class="collapse">
    <div>
      <ul>
        <% plan_item.resource_utilizations.each do |ru| %>
          <li><%= "#{ru.resource.resource_name}: #{'%.2f' % ru.units}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <p><%= "#{t('review.estimated_amount')}: #{'%.2f' % 0.0}" %></p>
<% end %>
