<% co_ids = cois.map &:control_objective_id %>
<% excluded_cos = pc.control_objectives.select { |co| co_ids.exclude? co.id } %>

<% if excluded_cos.any? %>
  <ul class="bg-info">
    <% excluded_cos.each do |co| %>
      <li><%= co.name %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-success">
    <%= t 'review.no_excluded_control_objectives' %>
  </div>
<% end %>
