<% id = f.object.object_id %>
<fieldset class="finding_review_assignment">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-10">
        <%= f.input 'finding_review_assignment[finding_data]', label: false,
          input_html: {
            value: f.object.try(:finding).try(:to_s),
            name: 'finding_review_assignment[finding_data]',
            id: "finding_review_assignment_finding_#{id}",
            class: 'autocomplete_field',
            title: t('label.search'),
            autofocus: true,
            data: {
              'autocomplete-url' => auto_complete_for_finding_reviews_path,
              'autocomplete-id-target' => "#hidden_finding_id_#{id}"
            }
        } %>
        <%= f.input :finding_id, as: :hidden,
          input_html: { id: "hidden_finding_id_#{id}", class: 'autocomplete_id' } %>
      </div>
      <div class="col-md-2">
        <div class="show_hide">
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
