<div class="finding_review_assignment">
  <div>
    <ul class="raw_list">
      <li>
        <%= f.hidden_field :finding_id, :value => f.object.finding_id,
          :id => "hidden_finding_id_#{f.object.finding_id}" %>
        <%= f.object.finding.try(:to_s) %> |
        <%= link_to t(:'label.show'), f.object.finding if f.object.finding %> |
        <%= remove_item_link(f) unless readonly %>
      </li>
    </ul>
  </div>
</div>