<% id = f.object.object_id %>
<fieldset class="procedure_control_item">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-10">
        <%= f.input :id, as: :string, label: false,
          input_html: {
            id: "procedure_control_item_#{id}",
            name: 'procedure_control_item[procedure_control_item_data]',
            title: t('label.search'),
            autofocus: true,
            data: {
              autocomplete_params: { period_id: @review.period_id },
              autocomplete_url: auto_complete_for_procedure_control_item_reviews_path,
              autocomplete_id_target: "#hidden_procedure_control_item_#{id}"
            }
          } %>
          <%= f.input "hidden_procedure_control_item_#{id}", as: :hidden, input_html: {
            name: 'review[procedure_control_item_ids][]', value: f.object.id,
            id: "hidden_procedure_control_item_#{id}" } %>
      </div>
      <div class="col-md-2">
        <div class="toggle-visibility">
          <%= link_to_remove_nested_item f %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
