<% id = f.object.object_id %>
<% readonly ||= false %>
<fieldset class="review_user_assignment">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-5">
        <% copy_attribute_errors(:user_id, :auto_user_name, f) %>
        <%= f.input :auto_user_name, label: false,
          input_html: {
            value: f.object.try(:user).try(:full_name_with_function, f.object.updated_at),
            id: "review_user_assignment_user_#{id}",
            class: 'autocomplete_field',
            title: t('label.search'),
            autofocus: true,
            readonly: readonly,
            data: {
              'autocomplete-url' => auto_complete_for_user_reviews_path,
              'autocomplete-id-target' => "#auto_user_id_#{id}"
            }
          } %>
        <%= f.input :user_id, as: :hidden, input_html: {
          id: "auto_user_id_#{id}", class: 'autocomplete_id'
        } %>
      </div>
      <div class="col-md-5">
        <%= user_assignment_type_field(f, false, readonly) %>
      </div>
      <div class="col-md-2">
        <div class="show_hide">
          <%= link_to_remove_nested_item(f) unless readonly %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
