<% unless @findings.empty? %>
  <% @findings.each_with_index do |finding, i| %>
    <div class="finding_review_assignment">
      <div>
        <ul class="raw_list">
          <li>
            <%= hidden_field_tag "review[finding_review_assignments_attributes][#{i + 1000}][finding_id]",
              finding.id, :id => "hidden_finding_id_#{finding.id}" %>
            <%= finding %> |
            <%= link_to t(:'label.show'), finding %> |
            <%= remove_item_link(nil, 'finding_review_assignment') %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>