<div class="card my-3">
  <div class="card-header">
    <h5 class="mb-0">
      <%= BusinessUnitType.model_name.human count: 0 %>
    </h5>
  </div>

  <div class="list-group list-group-flush">
    <% count_plan_items_for_allowed_business_unit_types.each do |but, count_plan_items| %>
      <%= link_to_plan_business_unit_type but do %>
        <%= but&.name || t('plans.without_business_unit_type') %>
        <span class="float-end">
          <span class="badge rounded-pill bg-secondary"><%= count_plan_items %></span>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
