<div class="dropdown dropup d-inline">
  <%= link_to '#', class: 'dropdown-toggle', data: { bs_toggle: 'dropdown' } do %>
    <%= t 'plans.edit.other_actions' %>
  <% end %>
  <div class="dropdown-menu dropdown-menu-end">
  </div>
</div>
