<div class="parameter_value item" <%= raw 'style="display: none;"' if item == ['', ''] %>>
  <div>
    <div class="item_field" style="width: 45%;">
      <%= text_field :parameter, "key_#{number}", :value => item[0], :class => 'parameter' %>
    </div>
    <div class="item_field" style="width: 45%;">
      <%= text_field :parameter, "value_#{number}", :value => item[1], :class => 'parameter' %>
    </div>
    <div class="item_field item_controls" style="width: 10%;">
      <%= remove_item_link(nil, 'parameter_value') %>
    </div>
    <script type="text/javascript">
      Util.randomizeIdsAndNames('div.parameter_value', 'parameter', ['key', 'value']);
    </script>
  </div>
</div>
<% if item == ['', ''] %>
  <script type="text/javascript">
    Helper.showLastItem('.parameter_value');
  </script>
<% end %>